<a href="https://colab.research.google.com/github/jhj1819/test_colab/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 넘파이(NumPy)

In [128]:
import numpy as np

In [129]:
a = np.array([2,4,6,8]) # 리스트를 이용해서 넘파이 배열 만듦.

In [130]:
type(a) # 넘파이배열

numpy.ndarray

In [131]:
a.dtype # 넘파이배열 안에 들어있는 데이터의 타입

dtype('int64')

In [132]:
%whos # 현재 존재하는 모든 객체 목록 보여줌 (매직커멘드)

No variables match your requested type.

In [133]:
b = np.array([[1,2,3], [4,5,6.]])

In [134]:
b

array([[1., 2., 3.],
       [4., 5., 6.]])

In [135]:
b.shape # 넘파이 배열의 형상 반환

(2, 3)

In [136]:
a.shape # (4,)

(4,)

In [137]:
a.ndim # 차원 반환(shape으로도 차원을 알 수 있음)

1

### arange
파이썬의 range를 넘파이에서는 arange
range와 달리 numpy배열을 반환해줌.

In [138]:
np.arange(1, 7, 2) # (start, end ,step)'

array([1, 3, 5])

In [139]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

모르는 거 있을때 ? 붙이고 실행하면 설명 나옴
ex) `np.linspace?`

In [140]:
np.linspace(0,1,5) # 4등분 하려면 5로 설정해야...

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

### 난수 발생기
파이썬의 난수발생기는 성능이 좋지 않으므로 넘파이의 난수 발생기를 사용

`np.random.random(5)`
0<= <1 사이의 5개의 랜덤 숫자를 넘파이 배열로 반환 [0,1) (Uniform 분포)

Uniform 분포: 모든 숫자가 뽑힐 확률이 같음.

In [141]:
np.random.seed(0)

In [142]:
np.random.random(5)

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ])

In [143]:
np.random.randint(1,10,3) # 1~9까지중 3개

array([6, 3, 5])

정규분포 난수 만들기(Normal)

In [144]:
np.random.normal(size = 10) # 표준정규분포로부터 난수 10개를 생성해서 넘파이 배열에 저장.

array([-0.29139398, -0.13309028, -0.1730696 , -1.76165167, -0.08767307,
        1.36687937,  1.1253141 , -0.35899555,  1.2206081 , -1.33949555])

인덱싱

In [145]:
x = np.array(np.arange(10,60,10))

In [146]:
x[-1]

50

In [147]:
y = np.arange(20)
y

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [148]:
y = y.reshape((4,5)) # 2차원 배열로 변경
y

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [149]:
y[1,2] # 파이썬에서 1행 2열 가져오기

7

![image.png]()

In [150]:
y[1:3, 1:4]

array([[ 6,  7,  8],
       [11, 12, 13]])

In [151]:
y[1:3, 1:4:2] # 2칸씩 건너뛰면서 슬라이싱

array([[ 6,  8],
       [11, 13]])

열을 갖고오는 방법

In [152]:
z = y[:,0] # 모든 행에서 0번째 열을 가져온다
z

array([ 0,  5, 10, 15])

#### 샬로우카피와 딥카피

In [153]:
z[0] = 9999

In [154]:
z

array([9999,    5,   10,   15])

In [155]:
y # z를 바꿨는데 y값도 바꼈음. (z가 사본이 아니라 원본이였다..) -> 샬로우 카피

array([[9999,    1,    2,    3,    4],
       [   5,    6,    7,    8,    9],
       [  10,   11,   12,   13,   14],
       [  15,   16,   17,   18,   19]])

In [156]:
z2 = y[0].copy() # 딥카피

In [157]:
z2[1] = -777
z2

array([9999, -777,    2,    3,    4])

In [158]:
y # 바뀌지 않음..

array([[9999,    1,    2,    3,    4],
       [   5,    6,    7,    8,    9],
       [  10,   11,   12,   13,   14],
       [  15,   16,   17,   18,   19]])

#### 2차원을 1차원으로 바꾸기
1. ravel()
2. flatten

In [159]:
y.ravel()

array([9999,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19])

In [160]:
y.flatten()

array([9999,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19])

#### 1차원을 2차원으로
1. np.newaxis 이용
2. reshape 이용

In [161]:
z2

array([9999, -777,    2,    3,    4])

In [162]:
z3 = z2[:, np.newaxis]
z3

array([[9999],
       [-777],
       [   2],
       [   3],
       [   4]])

In [163]:
z3.shape

(5, 1)

In [164]:
z4 = z2.reshape((5,1))
z4

array([[9999],
       [-777],
       [   2],
       [   3],
       [   4]])

In [165]:
z4.shape

(5, 1)

In [166]:
x = np.array([1,2,3])
y = np.array([3,2,1])

In [167]:
[1,2,3] + [3,2,1]  # 파이썬 리스트는 연결됨

[1, 2, 3, 3, 2, 1]

In [168]:
x + y # 넘파이 배열은 벡터화연산 .. (연산자 오버라이딩)

array([4, 4, 4])

In [169]:
np.concatenate([x, y])

array([1, 2, 3, 3, 2, 1])

# NumPy 배열 연산
## 벡터화 연산
### 1. 유니버셜함수
### 2. 브로드캐스팅
크기가 다른 배열간, 차원이 더 큰 배열에 맞춰.. shape 확장
* (3, 2)와 (1, 3)는 안됨.

### *유니버셜함수*
인덱스끼리...

In [191]:
a = np.array([1, 2, 3])
b = np.array([5, 5, 5])
a + b
(a+1)**2

array([ 4,  9, 16])

### 브로드캐스팅

In [194]:
np.arange(3) + 5

array([5, 6, 7])

In [195]:
np.ones((3,3)) + np.arange(3)

array([[1., 2., 3.],
       [1., 2., 3.],
       [1., 2., 3.]])

In [170]:
np.random.seed(911)

In [171]:
a = np.random.random(10000) # 0~1사이 10000개

sum과 np.sum 모두 잘 계산되지만 np.sum이 더 빠름
- 매직커멘드 %time을 이용해서 시간 계산
- %timeit를 이용하면 여러번 반복해서 평균시간 계산 (더 정확함)
- %$timeit를 이용하면 여러줄 명령에도 사용 가능(셀에 있는 명령어는 모두 적용)

In [127]:
%timeit sum(a)

1.2 ms ± 346 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [172]:
%timeit np.sum(a)

9.71 µs ± 2.52 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [173]:
%%timeit
a = np.random.random(10000)
sum = 0
for x in a:
  sum+= x

1.87 ms ± 605 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [174]:
sum(np.array([1, 2, 3, 4]))

10

## 변수 sum
함수 sum 사용시 변수 sum를 호출하는 오류

In [175]:
sum = 0

In [176]:
%who

a	 b	 np	 sum	 x	 y	 z	 z2	 z3
z4

In [177]:
# sum([1,2,3])

In [178]:
type(sum)

int

In [179]:
%xdel sum # xdel로 해결

NameError: name 'sum # xdel로 해결' is not defined

### 다차원 집계

In [184]:
y = np.array([[1,2], [3,4]])
np.sum(y) # 전체 합
np.sum(y, axis = 0)

array([4, 6])

np.std : 표준편차
np.argmin 최솟값의 위치
np.nansum() : 결측값뺀 합 (NONE이 있으면 집계함수 쓸 수 없음)

## 비교, 마스크, 부울

#### ufunc로서 비교 연산자

In [186]:
x = np.array([1, 2, 3, 4, 5])
x < 3
(2*x) == (x**2)

array([False,  True, False, False, False])

#### 조건식: np,where(조건, x, y)

In [189]:
a = np.arange(10)
np.where(a<5, a, 10*a)

array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

#### 부울 마스킹
특정 기준에 따라 배열 값을 추출/수정

In [190]:
x = np.array([1, 2, 3, 4, 5])
x[x%2==0]

array([2, 4])